* {
    box-sizing: border-box;
}

/* header stijlen */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6em 1.25em;
}

nav a {
    font-weight: bold;
}

nav a:hover {
    color: #978c8e
}

header ul {
    display: flex;
    font-size: 0.9em;
    list-style: none;
    gap: 3em;
}

header img {
    width: 2.1em;
    height: auto;
}

li a {
    text-decoration: none;
    color: #dcd5cd;
}

/* Lettertype stijlen */
body {
    background-color: #422329;
    margin: 0em;
}

.body2 {
    background-color: #423c0a;
}

h1,
p,
h2 {
    color: #dcd5cd;
}

/* Homepagina */

/* afbeelding */
img {
    width: 100%;
    height: 23em;
}

/* buttn */
.button {
    display: inline-block;
    background-color: #dcd5cd;
    color: #422329;
    padding: 0.5em 1em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.3em;
}

.button:hover {
    background-color: #292022
}

/* about weight & wear tekst */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

:first-child section {
    padding: 0.8em;
}

section p {
    margin-top: 0;
    width: 93%;
}

/* foto naast elkaar */
.foto1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
    margin: 1em;
}

/* tekst achter foto, komt van bron https://www.w3schools.com/howto/howto_css_image_text.asp */
.container {
    position: relative;
}

.container img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    margin-top: -3em;
}

.container h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #dcd5cd;
    font-size: 3.5em;
}

.foto1 img {
    width: 48%;
    height: auto;
}

/* How it works pagina */

.step-one p {
    color: #422329;
}

.step-two p {
    color: #422329;
}

.step-one h2 {
    color: #422329;
}

.step-two h2 {
    color: #422329;
}

.step-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #422329;
    background-color: #dcd5cd;
    border: 0.1em solid #ece6df;
    border-top-right-radius: 5em;
    /* komt van bron: https://developer.mozilla.org/en-US/docs/Web/CSS/border-bottom-right-radius */
    border-bottom-right-radius: 5em;
    box-shadow: 0.5em 0.5em #74736b;
    padding: 0em 0.5em 1em 0.5em;
    margin: 1.5em 0.8em 0.8em 0em;
    gap: 0.5em;
}

.step-one img {
    margin-top: 0.5em;
    max-width: 30%;
    height: auto;
    align-self: flex-end;
    border-radius: 0.5em;
}

.step-two {
    display: flex;
    align-items: center;
    text-align: right;
    color: #422329;
    background-color: #dcd5cd;
    border: 0.11em solid #ece6df;
    border-top-left-radius: 5em;
    border-bottom-left-radius: 5em;
    box-shadow: 0.5em 0.5em #74736b;
    padding: 0em 0.5em 3em 2em;
    margin: 1.5em 0em 0.8em 0.8em;
}

.step-one ul {
    padding-left: 0;
    margin-left: 0;
}

.step-one ul li:first-child {
    color: black;
    background-color: rgb(234, 234, 115);
    display: inline-block;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    font-weight: bold;
}

.step-one ul li:nth-child(2) {
    color: black;
    background-color: rgb(102, 217, 102);
    display: inline-block;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    font-weight: bold;
}

.step-one ul li:nth-child(3) {
    color: black;
    background-color: rgb(228, 94, 94);
    display: inline-block;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    font-weight: bold;
}

.step-one ul li:nth-child(4) {
    color: black;
    background-color: rgb(245, 193, 96);
    display: inline-block;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    font-weight: bold;
}

.step-one ul li:nth-child(5) {
    color: black;
    background-color: rgb(129, 165, 250);
    display: inline-block;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    font-weight: bold;
}

/* Clothing pagina */
section h2 {
    margin-top: -0.1em;
}

/* 2 foto's naast elkaar en onder elkaar */
.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* bron chatgtp: "hoe zet ik 2 afbeelding naast elkaar" */
    gap: 0.5em;
    padding: 0.5em;
}

.image-container img {
    width: 100%;
    height: auto;
}

/* Footer */

footer {
    background-color: #292022;
    color: #dcd5cd;
    padding: 0.5em 1em;
    font-size: 1em;
    text-align: center;
    margin-top: 1.5em;
}

.footer-about h2 {
    font-size: 1em;
    margin-bottom: 0.5em;
}

.footer-about p {
    font-size: 0.8em;
    margin-bottom: 1em;
    line-height: 1.6em;
}

.store-link {
    display: inline-block;
    color: #f5f5f5;
    background-color: #422329;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 0.5em;
    font-size: 0.8em;
}

.store-link:hover {
    background-color: #423c0a;
}

.footer-bottom {
    margin-top: 1.5em;
    font-size: 0.9em;
    color: #bbb;
    border-top: 0.1em solid #444;
    padding-top: 1em;
    font-size: 0.7em;
}